<div class="signupPage">
  <header class="header">
    <h3>アカウントを作成</h3>
  </header>
  <div class='container'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"mt-5" }) do |f| %>
      <%= devise_error_messages! %>
      <label for="file_photo" class="rounded-circle userProfileImg col-md-8 col-md-offset-2">
        <div class="userProfileImg_description">画像をアップロード</div>
        <i class="fas fa-camera fa-3x"></i>
        <%= f.file_field :img_name, id: "file_photo" %>
      </label>
      <div class="form-group col-md-8 col-md-offset-2">
        <%= f.label "名前" %>
        <%= f.text_field :name, class: "form-control", placeholder: "名前を入力してください" %>
      </div>
      <div class="form-group col-md-8 col-md-offset-2">
        <%= f.label "Eメールアドレス" %>
        <%= f.email_field :email, class: "form-control", placeholder: "emailを入力してください" ,autocomplete: "email" %>
      </div>
      <div class="form-group col-md-8 col-md-offset-2">
        <label>パスワード</label>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上入力してください)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", placeholder:"パスワードを入力してください", autocomplete: "off" %>
      </div>
      <div class="form-group col-md-8 col-md-offset-2">
        <%= f.label "確認用パスワード" %>
        <%= f.password_field :password_confirmation, class:"form-control", placeholder: "パスワードを再度入力してください", autocomplete: "off" %>
      </div>
      <div class="radio_button col-md-8 col-md-offset-2">
        <div><label>性別</label></div>
        <%= f.label "男" %>
        <%= f.radio_button :sex, "男", class: "form-check-input", id: "inlineRadio1" %>
        <%= f.label "女" %>
        <%= f.radio_button :sex, "女", class: "form-check-input", id: "inlineRadio2" %>
      </div>
      </div>
      <div class="form-group col-md-8 col-md-offset-2">
        <%= f.label "自己紹介" %>
        <%= text_area :user, :self_introduction, maxlength: "1000", rows: "10", class:"form-control" %>
      </div>
      <div class="text-center col-md-8 col-md-offset-2">
        <%= f.submit "START", class: "signupBtn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>