<!--１つのuserを表示するパーシャル-->

<div class="user_item clearfix" id="user-<%= user.id %>">
  <div class="user_avatar">
    <%= link_to user_path(user) do %>
     <%= image_tag user.img_name.url(:thumb), class: "user_image" %>
    <% end %>
  </div>
  <div class="user_info">
    <ul>
      <li class="user_name">
        <%= link_to user.name, user_path(user) %>
      </li>
      <li class="user_introduction">          
        <%= truncate(user.self_introduction, length: 15) do %>
          <%= link_to "続きを読む", user_path(user.id)%>
        <% end %>
      </li>
    </ul>
  </div>
</div>