<div class="passwordnewPage">
  <header class="header">
    <h3>Forgot your password?</h3>
  </header>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="form-gruop col-md-8 col-md-offset-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    
      <div class="text-center col-md-8 col-md-offset-2">
        <%= f.submit "Send", class: "passwordnewBtn btn-primary" %>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>




