<div class='signinPage'>
  <div class='container '>
    <div class='userIcon col-md-8 col-md-offset-2'>
      <i class="fas fa-user fa-3x"></i>
    </div>
    <h2 class="title col-md-8 col-md-offset-2">ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group col-md-8 col-md-offset-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "emailを入力してください" %>
      </div>

      <div class="form-group col-md-8 col-md-offset-2">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "パスワードを入力してください" %>
      </div>

      <div class="text-center col-md-8 col-md-offset-2">
        <%= f.submit "LOGIN", class: "signinBtn btn-primary" %>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>