<!--１つの投稿を表示するパーシャル-->
<li id="post_image-<%= post_image.id %>">
  <%= link_to post_image_path(post_image.id) do %>
    <div class="image"><%= image_tag post_image.post_img_name.url(:thumb) %></div>
  <% end %>
  <div class="user"><%= link_to post_image.user.name, post_image.user %></div>
  <div class="content"><%= post_image.content %></div>
  <div class="timestamp">Posted <%= time_ago_in_words(post_image.created_at) %> ago.</div>
</li>