<div class="PostNewPage">
  <div class="container">
    <div class="row">
      <h3 class="PostNewPage_headline">新規投稿</h3>
      <div class="col-md-4 col-md-offset-4">
        <%= form_for (@post_image) do |f| %>
          <div class="form-group">
            <%= f.label "wear_img"%>
            <%= f.file_field :post_img_name %>
          </div>
          <div class="form-group">
            <%= f.label "introduction" %>
            <%= f.text_area :content, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label "tag_list", "tag (カンマ区切り)" %>
            <%= f.text_field :tag_list, value: @post_image.tag_list.join(','), class: "form-control" %>
          </div>
          <div class="text-center">
            <%= f.submit "投稿", class: "btn submitBtn"%>
          </div>
        <% end %>
        <%= link_to "戻る", user_path(current_user) %>
      </div>
    </div>
  </div>
</div>

