<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="nav navbar-nav navbar-left"　id="logo">
      <h2 id="logo">Aie&Confiance</h2>
    </div>
    <nav>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", user_path(current_user) %></li>
          <li><%= link_to "User", users_path %></li>
          <li><%= link_to "Find", post_images_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete%></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Top", root_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>