<!DOCTYPE html>
<html>
  <head>
    <title>AieConfiance</title>
    <%= csrf_meta_tags %>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="current_user_id" content="<%= current_user.id if current_user %>">
    
    <!--slickの読み込み-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!--app/assets/stylesheets-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--app/aseets/javascript//-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header'%>
    <% if flash[:success] %>
      <p class="alert alert-success"><%= flash[:success] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert alert-danger"><%= flash[:alert] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
